.has-tasks {
    background-color: transparent !important; /* Remove background color for dates with tasks */
}

/* Center the calendar and add some padding */
.calendar-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0; /* Remove padding to move it up */
    margin: 0 0 20px 0; /* Remove top margin, keep bottom margin */
}

/* Style the calendar */
.react-calendar {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    background-color: white; /* Background color */
    width: 90%; /* Make the calendar take up 90% of the width */
    max-width: 600px; /* Set a maximum width */
    height: auto; /* Allow height to adjust automatically */
}

/* Style the tiles */
.react-calendar__tile {
    border-radius: 5px; /* Rounded corners for tiles */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    position: relative;
    z-index: 1;
    background-color: transparent !important; /* Ensure default background is transparent */
}

.react-calendar__tile:hover {
    background-color: #f0f0f0; /* Light gray on hover */
}

.calendar-mood-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 4px;
}

.react-calendar__tile:enabled:hover .calendar-mood-indicator,
.react-calendar__tile:enabled:focus .calendar-mood-indicator {
    opacity: 0.9 !important;
}

.react-calendar__tile--active {
    background-color: rgba(0, 110, 220, 0.1) !important;
    color: #006edc !important;
}

.react-calendar__tile--active .calendar-mood-indicator {
    opacity: 0.5 !important;
}

/* Custom styles */
.current-date {
    border: 3px solid #006edc !important;
    border-radius: 4px;
    background-color: #e6f2ff !important;
    font-weight: bold !important;
    box-shadow: 0 0 5px rgba(0, 110, 220, 0.5) !important;
    transform: scale(1.05) !important;
    transition: all 0.3s ease !important;
}

.current-date:hover {
    background-color: #cce5ff !important;
    transform: scale(1.08) !important;
}

.date-with-tasks {
    text-decoration: underline;
    text-decoration-color: #4CAF50;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
